# Airbnb seattle dataset 
* This dataset contains the information for various airbnb seattle listings 
* Particularly following questions to be explored
* How locality impacts sales and bookings
* nuber of bedrooms or size impacting sales
  ### Probable Questions 
* What factors effect price
* Property size and amenities coorelation
* How Locality impacts the booking and sales
* Occupancy and availibility
* Number of reviews

# Data Cleaning

In [4]:
# Imoporting required libraries

import numpy as np
import pandas as pd
# For Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
import warnings
warnings.filterwarnings('ignore')

In [5]:
# Reading Dataset 

df_calender=pd.read_csv("/Users/rachitlour/Data/Udacity/airbnb/calendar.csv")
df_listings=pd.read_csv("/Users/rachitlour/Data/Udacity/airbnb/listings.csv")
df_reviews=pd.read_csv("/Users/rachitlour/Data/Udacity/airbnb/reviews.csv")

In [7]:
# Viewing the contents
df_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [8]:
df_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [9]:
# Data Types
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3816 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [11]:
# Total number of listings 
len(df_listings)

3818

In [12]:
# Printing column and number of values in df_listings: 
    no_of_null=df_listings[column].isnull().sum()
    print(f"{column}:Null values {no_of_null}")

id:Null values 0
listing_url:Null values 0
scrape_id:Null values 0
last_scraped:Null values 0
name:Null values 0
summary:Null values 177
space:Null values 569
description:Null values 0
experiences_offered:Null values 0
neighborhood_overview:Null values 1032
notes:Null values 1606
transit:Null values 934
thumbnail_url:Null values 320
medium_url:Null values 320
picture_url:Null values 0
xl_picture_url:Null values 320
host_id:Null values 0
host_url:Null values 0
host_name:Null values 2
host_since:Null values 2
host_location:Null values 8
host_about:Null values 859
host_response_time:Null values 523
host_response_rate:Null values 523
host_acceptance_rate:Null values 773
host_is_superhost:Null values 2
host_thumbnail_url:Null values 2
host_picture_url:Null values 2
host_neighbourhood:Null values 300
host_listings_count:Null values 2
host_total_listings_count:Null values 2
host_verifications:Null values 2
host_has_profile_pic:Null values 2
host_identity_verified:Null values 2
street:Null values 0
neighbourhood:Null values 416
neighbourhood_cleansed:Null values 0
neighbourhood_group_cleansed:Null values 0
city:Null values 0
state:Null values 0
zipcode:Null values 7
market:Null values 0
smart_location:Null values 0
country_code:Null values 0
country:Null values 0
latitude:Null values 0
longitude:Null values 0
is_location_exact:Null values 0
property_type:Null values 1
room_type:Null values 0
accommodates:Null values 0
bathrooms:Null values 16
bedrooms:Null values 6
beds:Null values 1
bed_type:Null values 0
amenities:Null values 0
square_feet:Null values 3721
price:Null values 0
weekly_price:Null values 1809
monthly_price:Null values 2301
security_deposit:Null values 1952
cleaning_fee:Null values 1030
guests_included:Null values 0
extra_people:Null values 0
minimum_nights:Null values 0
maximum_nights:Null values 0
calendar_updated:Null values 0
has_availability:Null values 0
availability_30:Null values 0
availability_60:Null values 0
availability_90:Null values 0
availability_365:Null values 0
calendar_last_scraped:Null values 0
number_of_reviews:Null values 0
first_review:Null values 627
last_review:Null values 627
review_scores_rating:Null values 647
review_scores_accuracy:Null values 658
review_scores_cleanliness:Null values 653
review_scores_checkin:Null values 658
review_scores_communication:Null values 651
review_scores_location:Null values 655
review_scores_value:Null values 656
requires_license:Null values 0
license:Null values 3818
jurisdiction_names:Null values 0
instant_bookable:Null values 0
cancellation_policy:Null values 0
require_guest_profile_picture:Null values 0
require_guest_phone_verification:Null values 0
calculated_host_listings_count:Null values 0
reviews_per_month:Null values 627

In [13]:
# Printing percentage of Null Values
for column in df_listings: 
    null_percentage=df_listings[column].isnull().sum()/len(df_listings)*100
    print(f"{column}:percentage__null= {null_percentage}")

id:percentage__null= 0.0
listing_url:percentage__null= 0.0
scrape_id:percentage__null= 0.0
last_scraped:percentage__null= 0.0
name:percentage__null= 0.0
summary:percentage__null= 4.6359350445259295
space:percentage__null= 14.903090623363017
description:percentage__null= 0.0
experiences_offered:percentage__null= 0.0
neighborhood_overview:percentage__null= 27.029858564693555
notes:percentage__null= 42.063907805133574
transit:percentage__null= 24.463069669984286
thumbnail_url:percentage__null= 8.381351492928236
medium_url:percentage__null= 8.381351492928236
picture_url:percentage__null= 0.0
xl_picture_url:percentage__null= 8.381351492928236
host_id:percentage__null= 0.0
host_url:percentage__null= 0.0
host_name:percentage__null= 0.05238344683080147
host_since:percentage__null= 0.05238344683080147
host_location:percentage__null= 0.20953378732320588
host_about:percentage__null= 22.49869041382923
host_response_time:percentage__null= 13.698271346254584
host_response_rate:percentage__null= 13.698271346254584
host_acceptance_rate:percentage__null= 20.24620220010477
host_is_superhost:percentage__null= 0.05238344683080147
host_thumbnail_url:percentage__null= 0.05238344683080147
host_picture_url:percentage__null= 0.05238344683080147
host_neighbourhood:percentage__null= 7.85751702462022
host_listings_count:percentage__null= 0.05238344683080147
host_total_listings_count:percentage__null= 0.05238344683080147
host_verifications:percentage__null= 0.05238344683080147
host_has_profile_pic:percentage__null= 0.05238344683080147
host_identity_verified:percentage__null= 0.05238344683080147
street:percentage__null= 0.0
neighbourhood:percentage__null= 10.895756940806706
neighbourhood_cleansed:percentage__null= 0.0
neighbourhood_group_cleansed:percentage__null= 0.0
city:percentage__null= 0.0
state:percentage__null= 0.0
zipcode:percentage__null= 0.18334206390780514
market:percentage__null= 0.0
smart_location:percentage__null= 0.0
country_code:percentage__null= 0.0
country:percentage__null= 0.0
latitude:percentage__null= 0.0
longitude:percentage__null= 0.0
is_location_exact:percentage__null= 0.0
property_type:percentage__null= 0.026191723415400735
room_type:percentage__null= 0.0
accommodates:percentage__null= 0.0
bathrooms:percentage__null= 0.41906757464641176
bedrooms:percentage__null= 0.1571503404924044
beds:percentage__null= 0.026191723415400735
bed_type:percentage__null= 0.0
amenities:percentage__null= 0.0
square_feet:percentage__null= 97.45940282870613
price:percentage__null= 0.0
weekly_price:percentage__null= 47.38082765845993
monthly_price:percentage__null= 60.267155578837084
security_deposit:percentage__null= 51.12624410686223
cleaning_fee:percentage__null= 26.977475117862753
guests_included:percentage__null= 0.0
extra_people:percentage__null= 0.0
minimum_nights:percentage__null= 0.0
maximum_nights:percentage__null= 0.0
calendar_updated:percentage__null= 0.0
has_availability:percentage__null= 0.0
availability_30:percentage__null= 0.0
availability_60:percentage__null= 0.0
availability_90:percentage__null= 0.0
availability_365:percentage__null= 0.0
calendar_last_scraped:percentage__null= 0.0
number_of_reviews:percentage__null= 0.0
first_review:percentage__null= 16.42221058145626
last_review:percentage__null= 16.42221058145626
review_scores_rating:percentage__null= 16.946045049764276
review_scores_accuracy:percentage__null= 17.234154007333682
review_scores_cleanliness:percentage__null= 17.10319539025668
review_scores_checkin:percentage__null= 17.234154007333682
review_scores_communication:percentage__null= 17.050811943425877
review_scores_location:percentage__null= 17.15557883708748
review_scores_value:percentage__null= 17.181770560502883
requires_license:percentage__null= 0.0
license:percentage__null= 100.0
jurisdiction_names:percentage__null= 0.0
instant_bookable:percentage__null= 0.0
cancellation_policy:percentage__null= 0.0
require_guest_profile_picture:percentage__null= 0.0
require_guest_phone_verification:percentage__null= 0.0
calculated_host_listings_count:percentage__null= 0.0
reviews_per_month:percentage__null= 16.42221058145626

In [14]:
# Dropping high number of null values
column_null_morethan60=["license","square_feet","neighborhood_overview","notes","transit"]
df_listings_modified=df_listings.drop(columns=column_null_morethan60,axis=1)

In [15]:
df_listings.shape

(3818, 92)

In [16]:
df_listings_modified.shape

(3818, 87)

In [18]:
df_listings_modified.shape

(3818, 87)

In [19]:
duplicate_counts=df_listings_modified.duplicated().sum()

In [20]:
duplicate_counts

0

In [21]:
# Dropping column containing url 
df_listings_modified.drop(columns=df_listings_modified.columns[df_listings_modified.columns.str.contains("url")],axis=1,inplace=True)

In [22]:
#Format the price columns ( removing dollar sign and commas)

df_listings_modified.price=df_listings_modified.price.str.replace(r"$","").str.replace(",","").astype("float32")
df_listings_modified.weekly_price = df_listings_modified.weekly_price.str.replace(r"$", "").str.replace(",", "").astype("float32")
df_listings_modified.monthly_price = df_listings_modified.monthly_price.str.replace(r"$", "").str.replace(",", "").astype("float32")
df_listings_modified.security_deposit = df_listings_modified.security_deposit.str.replace(r"$", "").str.replace(",", "").astype("float32")
df_listings_modified.cleaning_fee = df_listings_modified.cleaning_fee.str.replace(r"$", "").str.replace(",", "").astype("float32")
df_listings_modified.extra_people = df_listings_modified.extra_people.str.replace(r"$","").str.replace(",","").astype("float32")

In [23]:
# Drop column with host_
df_listings_modified.drop(columns=df_listings_modified.columns[df_listings_modified.columns.str.contains("^host_")],inplace=True)

In [24]:
# Categorizing the columns 
numerical_columns=df_listings_modified.select_dtypes(exclude=object).columns.tolist()
categorical_columns =df_listings_modified.select_dtypes(include=object).columns.to_list()

In [25]:
# Imputation of numerical columns
numeric_imputer=SimpleImputer(strategy="median")
df_listings_modified[numerical_columns]=numeric_imputer.fit_transform(df_listings_modified[numerical_columns])
# Imputation of categorical columns
categorical_imputer=SimpleImputer(strategy="most_frequent")
df_listings_modified[categorical_columns]=categorical_imputer.fit_transform(df_listings_modified[categorical_columns])

The range of the prices is 980 (1000 - 20).
Most of the prices are clustered between 75 and 150, based on the interquartile range (IQR = Q3 - Q1 = 150 - 75 = 75).
The mean (127.98) is higher than the median (100.00), suggesting a possible right-skewed distribution where a few high prices pull the mean upwards.